body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ddd;
}
.phone{
    width: 300px;
    height: 600px;
    border: 10px solid black;
    border-radius:50px ;
    background: #000;
    position:relative;
}
.top-holes{
    display:flex;
    justify-content: center;
    gap:5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hole{
    width: 8px;
    height:8px;
    background: #ddd;
    border-radius: 50%;
}
.screen{
    width:100%;
    height: 90%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 70px;
    box-sizing: border-box;
}
.home-btn{
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;
    margin:-65px auto 15px;
    background: #ddd;
    position:absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  8px;
    font-size: 12%px;
    color: black;
    position:absolute;
    top: 10px;
    left:0 ;

    width: 95%;
}

.status-right {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.wifi {
    font-size: 14px;
}

.battery {
    display: flex;
    align-items: center;
    gap: 3px;
    right: 10px;
}

.battery-level {
    width: 25px;
    height: 10px;
    border: 1px solid black;
    position: relative;
    border-radius: 2px;
}

.battery-level::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 85%; 
    background: green;
    border-radius: 2px;
}

.battery-percent {
    font-size: 10px;
}


.above-image {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px; 
}

.above-image .icon {
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
    align-items: flex-start; 
    gap: 20px;              

.side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side .icon {
    width: 100px;
    height: 100px;
}
.screen h3 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.screen .moving-icon {
    position: absolute;
    top: 60%;     
    left: 50%;    
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: all 1s ease; 
    pointer-events: none;      
    z-index: 10;
}

.screen .moving-icon.animate {
    transform: translate(
        calc(-50% + 30px),   
        calc(-50% - 20px)    
    ) scale(1.5);          
    opacity: 1;
}
.message-input {
    position: absolute;
    top: 60%;          
    left: 50%;         
    transform: translate(-50%, -50%); 
    width: 70%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 20;      
}
}